body {
  font-family:Times, sans-serif;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 10px;
}

header {
  background-color: black;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
  width:80%;
}

img {
  width: 100%;


}

.caption {
  
  font-size: 14px;
  max-width: 50 rem;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;


}



h1 {
    font-family: helvetica, sans-serif;
    letter-spacing: -0.00526316em;
    line-break: auto;
    line-height: 1.2em;
    font-size: 36px;
    font-weight: 350;
    width: 100%

}

h2 {
    font-family:helvetica, sans-serif;
    letter-spacing: 0.163636em;
    line-break: auto;
    line-height: 1.36333em;
    font-size: 12px;
    font-weight: 550;

}


h3 {
    font-family:helvetica, sans-serif;
    letter-spacing: 0.163636em;
    line-break: auto;
    line-height: 1.36333em;
    font-size: 10px;
    font-weight: 300;

}


h4 {
    font-family:helvetica, sans-serif;
    letter-spacing: 0.1em;
    line-break: auto;
    line-height: 1.6em;
    font-size: 13px;
    font-weight: 300;

}



h5 {
    font-family:helvetica, sans-serif;
    letter-spacing: 0.1em;
    line-break: auto;
    line-height: 1.6em;
    font-size: 13px;
    font-weight: 300;

}

h6 {
    font-family:helvetica, sans-serif;
    letter-spacing: 0em;
    line-break: auto;
    line-height: 0em;
    font-size: 18px;
    font-weight: 300;
}


p {
  font-size: 20px;
  
}

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 75%;
}
